<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>OverPay</title>
  </head>
  <body>
    <h1>De <%=info[0]%> servidores no df, <%=info[1]%> recebem acima do teto estabelecido</h1>
    <h2>O maior deles é <%=info[2]%>.</h2>
    <h3>Alguns os funcionários com salários acima do teto são:<h3>
      <table>
        <tr>
          <td>nome</td>
          <td>cargo</td>
          <td>situação</td>
          <td>salário</td>
        </tr>
        <tr>
          <%for(var i=0;i<info[3].length;i++) {%>
            <tr>
              <td><%=info[3][i].Name%></td>
              <td><%=info[3][i].Role%></td>
              <td><%=info[3][i].Situation%></td>
              <td><%=info[3][i].Salary%></td>
            </tr>
          <%}%>
        </tr>
      </table>
  </body>
</html>
